<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>兼职客儿管理系统</title>
	<meta name="keywords" content="兼职客儿,兼职">
	<meta name="description" content="兼职客儿,兼职">
	<link rel="shortcut icon" href="{{buildStaticUrl('/images/favicon.ico')}}" />
	<link rel="stylesheet" type="text/css" href="{{buildStaticUrl('/admin/css/layui.css')}}">
    <style>

    </style>
</head>
<body>

<div class="x-body" style="margin: 80px 20px 80px 20px" >

		<div class="layui-form froms">
              <textarea name="desc" placeholder="请输入公告内容" class="layui-textarea " id="contents"></textarea>


            <div style="margin:15px; text-align: center">
                 <button type="button" class="layui-btn add_messages" lay-submit>提交</button>

      <button type="reset" class="layui-btn layui-btn-primary layui-input-inline">重置</button>
            </div>
		</div>
</div>
</body>


<script src="{{buildStaticUrl('/admin/jquery-3.3.1.min.js')}}"></script>
<script src="{{buildStaticUrl('/admin/layui.all.js')}}"></script>
  <script src="{{ buildStaticUrl('/xadmin.js') }}"></script>
<script>

    $(".add_messages").click(

        function () {
             var content=$("#contents").val()
         $.ajax({
         url:"http://127.0.0.1:5000/api/inform/",
                type:'POST',
                data:{ 'content':content},
                dataType:'json',
         success(res){
            layer.alert(res.msg)
             setTimeout( function(){x_admin_close()}, 1* 1000 );


         },
         error: function(res){
                layer.alert(res.msg)
            }


     })
        }
    )


</script>



</html>