<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>兼职客儿管理系统</title>
	<meta name="keywords" content="兼职客儿,兼职,眉山兼职,学生兼职">
	<meta name="description" content="兼职客儿,兼职,眉山兼职,学生兼职">
	<!--<link rel="shortcut icon" href="{{buildStaticUrl('/images/favicon.ico')}}" />-->
	<link rel="stylesheet" type="text/css" href="{{buildStaticUrl('/admin/css/layui.css')}}">

     {%block css %}{% endblock %}
</head>

 {% block content %}{% endblock %}

</html>