{% extends "app/app_base.html" %}

{%block css %}


<link rel="stylesheet" type="text/css" href="{{buildStaticUrl('/app/sui/dist/css/sm.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{buildStaticUrl('/app/sui/dist/css/sm-extend.min.css')}}">


<style>
html,body,*,li,p{padding: 0;margin:0;list-style: none;}
.headers{
   background: -moz-linear-gradient(right, red, blue);
  background: -webkit-linear-gradient(left, red , blue);
  background: -o-linear-gradient(right, red, blue); 
  background: -moz-linear-gradient(right, red, blue); 
  background: linear-gradient(to right, red , blue); 
  background-size:cover;
  width: 100%;
  height: 156px;
  position: relative;

}
.headers img{
  width: 55px;
  height: 55px;
  border-radius:100%;
  border:3px solid #CFCFCF;
  position: absolute;
  top: 20px;
  left: 21.5px;
}
.me-messages{
  position: absolute;
  left: 98.5px;
  top: 18px;
}
.me-messages span{
  color: #fff;
}
.me-user-num{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  background: rgba(256,256,256,.05);
}
.me-user-num ul{
  width: 100%;
  overflow: hidden;
  padding: 7px 0;
}
.user-tab{

  /*为什么这里使用display不行！*/
  /*display: inline-block;*/
  float: left;
  width: 25%;
  box-sizing: border-box;
  font-size: .6rem;
  color: #f5d9d4;
  border-right: 1px solid #e1856d;
  text-align: center;
}
.money-letter{
  position: relative;
}
.money-letter ul{
  width: 100%;
  overflow: hidden;
}
.money-letter ul li{
  float: left;
  display: block;
  position: relative;
  width: 50%;
  padding-left: 10px;
  
}

.money-letter-left-opt{
  position: absolute;
  top: 50%;
  right: 18px;
  font-size: .6rem;
  line-height: 20px;
  margin-top: -10px;
}
.money-letter-wrap{
  display: block;
  font-size: 13px;
}
.money-letter b{
  color: red;

}
body{
  background-color: #EFEFF4;
}
</style>

{% endblock %}
 {% block content %}

<!-- header -->
<div class="headers">
  <img src="{{buildStaticUrl('/images/app/login.jpg')}}">
  <div class="me-messages">
    <span style="font-size: 1.1rem" class="account"></span>
    <div><span class="tel"></span></div>
  </div>
  <div class="me-user-num">
    <ul>
     <li class="user-tab"><a href=""><p class="on_sign_on"></p><span>已报名</span></a></li>
     <li class="user-tab"><a href=""><p class="on_sign"></p><span>已到岗</span></a></li>
     <li class="user-tab"><a href=""><p class="on_confirme"></p><span>已录用</span></a></li>
     <li class="user-tab"><a href=""><p class="on_complete"></p><span>以结算</span></a></li>
    </ul>
  </div>
</div>

<!-- 钱包和信用 -->
<div class="money-letter">
  <ul>

    <li style="border-right: 2px solid #E1856D">
      <a href="">
      <span class="money-letter-wrap">钱包余额</span>
      <b>0.00</b>
      <span>元</span>

      <span class="money-letter-left-opt">提现</span>
    </a>

     <li>
      <a href="">
      <span class="money-letter-wrap">信用积分</span>
      <b class="credit"></b>
      <span>分</span>

      <span class="money-letter-left-opt">查看积分</span>
    </a>
  </li>
  </ul>
</div>





<div class="card">
    <div class="card-content">
      <div class="list-block">
        <ul>

        <li>
            <a href="{{url_for('appMe.jianzhi_list')}}" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">我的兼职</div>
              </div>
            </a>
          </li>

          <li>
            <a href="{{url_for('appMe.collection')}}" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">我的收藏</div>
              </div>
            </a>
          </li>

                <li>
            <a href="{{url_for('appMe.post_list')}}" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">我的发布</div>
              </div>
            </a>
          </li>


        </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="list-block">
        <ul>
          <li>
            <a href="{{url_for('appMe.modifying_data')}}" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">修改资料</div>
              </div>
            </a>
          </li>

                <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">修改密码</div>
              </div>
            </a>
          </li>

           <li class="logoff">
            <a href="javascript:void(0);" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner ">
                <div class="item-title">注销账号</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="list-block">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">联系客服</div>
              </div>
            </a>
          </li>

                <li>
            <a href="{{url_for('appMe.feedback')}}" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">意见反馈</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
 {% block js %}
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js'></script>
<script src="{{buildStaticUrl('/app/sui/dist/js/sm.min.js')}}"></script>
<script src="{{buildStaticUrl('/app/sui/dist/js/sm-extend.min.js')}}"></script>

<script>
  $(".logoff").click(function () {
      $.confirm("确定要注销吗", "注销", function() {
              $.ajax({
         url:"http://127.0.0.1:5000/api/getme/",
                type:'POST',

                dataType:'json',
         success(res){
              $.toast(res.msg);
         },
         error: function(res){
                $.toast("fali");
            }


     })
        }
    )


  })

</script>



<script>
  $(document).ready(function(){
       $.ajax(
  	{
        //这个id是获取到微信授权后开始的，这里先写死
        url:"http://127.0.0.1:5000/api/getmemessages/?id="+"1",
     dataType:'json',
     type:'get',
     success: function (res) {
          console.log(res.user_msg);
        $(".account").text(res.user_msg.account)
         $(".tel").text(res.user_msg.tel)
         $(".credit").text(res.user_msg.credit)
         $(".on_sign_on").text(res.signup_msg.on_sign_on_count)
         $(".on_sign").text(res.signup_msg.on_sign_in_count)
         $(".on_confirme").text(res.signup_msg.on_confirme_count)
         $(".on_complete").text(res.signup_msg.on_complete_count)

        //   $(".end_time").text(res.data.end_time)
        //   $(".people").text(res.data.people)
        //   $(".people_tel").text(res.data.people_tel)


  }


  	});
  })

</script>
{% endblock %}